header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-bottom: 80px;
}

svg {
  pointer-events: none;
}

.hamburger {
  width: 40px;
}
.title {
  position: relative;
  left: 40px;
  display: flex;
  align-items: center;
  font-size: 50px;
  font-weight: bold;
}
.menu {
  display: flex;
}

.menu .button {
  width: 40px;
}
main {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

main .board {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 480px;
  width: 400px;
}

main .cards {
  display: flex;
  justify-content: space-between;
}

main .cards .card {
  width: 70px;
  height: 70px;
  border: 2px solid rgba(0, 0, 0, 0.1);
}

main .cards .card.word-input {
  display: grid;
  place-items: center;
  font-weight: bold;
  font-size: 25px;
  border: 2px solid rgba(0, 0, 0, 0.7);
}

footer {
  display: flex;
  justify-content: center;
}

footer .keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

footer .keyboard .keys {
  display: flex;
  gap: 10px;
}

.key {
  display: grid;
  place-items: center;
  width: 50px;
  height: 50px;
  background-color: rgba(128, 128, 128, 0.4);
  padding: 10px;
  border-radius: 15px;
  font-weight: bold;
  cursor: pointer;
}

.key:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.etc {
  width: 80px;
}
